.hero .text{
  position: absolute;
  bottom: 3rem;
}
.news-wrapper{
  padding-bottom: 3rem;
  .news-item{
    padding: 2.5rem 0;
    margin: 3rem 0;
    border: var(--grey-light) 1px solid;
    img{
      width: 100%;
    }
    .content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 3rem;
    }
    .title{
      font-size: 2rem;
      color: var(--red);
      margin-bottom: 1rem;
    }
    .btn{
      width: 110px;
    }
    .date{
      font-weight: 600;
      font-size: 1.2rem;
      color: var(--red);
    }
  }
  .pagination{
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      border-radius: 0;
    }
    .page-link{
      background-color: var(--dark);
      color: #fff;
    }
    .active>.page-link, .page-link.active{
      background-color: var(--red);
      border-color: var(--red);
    }
  }
}
