.main{
  padding-top: 4.5rem;
  .text{
    padding-top: 3rem;
    padding-bottom: 1rem;
    .title{
      color: var(--red);
      font-size: 1.5rem;
      font-weight: 600;
      width: 6rem;
      padding-bottom: .7rem;
      margin-bottom: .7rem;
      border-bottom: var(--red) 1px solid;
    }
    .title2{
      font-weight: 600;
      margin-bottom: .7rem;
    }
  }
}
.img img{
  width: 100%;
}
.sectioin-1,
.sectioin-3,
.sectioin-4,
.sectioin-6{
  background-color: #f0f0f0;
}
.sectioin-2{
  .title{
    text-align: right;
  }
}
.bar{
  height: 80px;
  background: linear-gradient(90deg, #1e1e1e 70%, var(--red) 50% 100%);
  margin: 5rem 0 3rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  img{
    width: 16px;
    margin-right: .3rem;
  }
}
.sectioin-6{
  height: 150px;
  font-size: 1.6rem;
  font-weight: 600;
  i{
    margin-right: 1rem;
  }
}
.bar, .sectioin-6{
  align-content: center;
}

@media (min-width: 768px) {
  .sectioin-1 .img,
  .sectioin-2 .img{
    transform: translateY(-3rem);
  }
  .sectioin-3 .img,
  .sectioin-5 .img{
    transform: translateY(3rem);
  }
}
