{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}

{% block main %}
<div class="hero" style="background-image: url({{ asset('images/product_hero.jpg') }})">
  <div class="container">
    <div class="text">
      <div class="title2lines">
        <div class="title"></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<div class="main container py-5">
      {{ node.body|raw }}
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
